* {
  box-sizing: border-box;
}
#logo {
  width: 45px;
  font-weight: bold;
  color: #333333;
  font-size: 20px;
}
#blue {
  color: #38d1bf;
}
#navbar a.active {
  background-color: #38d1bf;
  color: black;
}
#navbar a {
  float: left;
  text-align: center;
  text-decoration: none;
  line-height: 20px;
  border-radius: 4px;
  padding: 10px;
  font-family: Georgia, Times, "Times New Roman", serif;
}
#navbar a#icon {
  float: right;
  text-decoration: none;
  color: white;
  display: none;
}
#navbar-right a:hover {
  background-color: #38d1bf;
  color: black;
}
#navbar-right {
  float: right;
}
#navbar-right a {
  font-size: 15px;
  color: white;
}
#navbar {
  background-color: #001011;
  padding: 30px 10px;
  transition: 0.4s;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
}
header,
footer,
section {
  overflow: auto;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#sec-intro {
  background-color: #fcfaf9;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  border: 1px solid black;
}
.sec {
  height: 100%;
}
header {
  height: 100%;
  width: 100%;
}
p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  color: #333333;
}
#sec-about {
  background-repeat: no-repeat;
  background-size: 100% 800px;
  background-position: center center;
  background-attachment: fixed;
  font-size: 50px;
  border: 1px solid black;
}
#sec-experience {
  background-repeat: no-repeat;
  background-size: 100% 800px;
  background-position: center center;
  background-attachment: fixed;
  border: 1px solid black;
}
#sec-contact {
  background-repeat: no-repeat;
  background-size: 100% 800px;
  background-position: center center;
  background-attachment: fixed;
  border: 1px solid black;
}
#intro-div {
  height: 250px;
}
.description {
  height: 50%;
}

@media screen and (max-width: 600px) {
  #navbar-right a {
    display: none;
  }
  #navbar a#icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  #navbar.responsive {
    position: relative;
    padding: 0px;
  }

  #navbar.responsive .icon {
    right: 0;
    top: 0;
  }
  #navbar #navbar-right.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right.responsive {
    padding-top: 50px;
    float: none;
  }
}
