body {
  margin: 0;
  background-color: #222831;
  font-family: "Orbitron", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.menu {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 10px;
  height: 100px;
}
.menu .nav:hover {
  border-bottom: 0.2px solid #00BFFF; /* Hafif ve yumuşak bir çizgi */
  transition: border-color 1s ease;
  /* border-bottom: 2px solid #00BFFF; */
}

.menu .nav {
  border-bottom: 0.2px solid transparent;
  transition: border-bottom 1s ease;
  /* border-bottom: 2px solid #00BFFF; */
}


.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: flex-end;
}

.menu .menu-item,
.menu .logo-text {
  margin: 0 1rem;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
}

.menu .menu-item a {
  color: #ffffff;
  font-size: 18px;
  padding-bottom: 5px;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
}
p {
  font-size: 1.2rem; /* İsteğe bağlı olarak metin boyutunu ayarlayabilirsiniz */
  border-right: 3px solid #00BFFF;
  animation: blink-caret 0.5s step-end infinite;
}

p span {
  display: inline-block; /* Transform etkisini almak için inline-block olması gerekir */
  transition: transform 0.3s ease; /* Geçiş süresi ve tipi */
}

p span:hover {
  transform: translateY(-5px); /* Mouse üzerindeyken yukarıya kaydır */
}

.menu .logo-text {
  font-size: 36px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.menu a:hover {
  animation: shake 2s ease;
  color: #00BFFF;
  transform: scale(1.2);
}

.lin-logo{
  margin: 15px;
}

.lin-logo a i{
  color:#ffffff; font-size: 50px;
}

.lin-logo a i:hover{
  transition:  1s ease;
  color: #00BFFF;
  transform: scale(1.2);
}

@keyframes shake {
  0% { transform: translateX(0) scale(1); filter: brightness(100%); }
  20% { transform: translateX(-5px) scale(1); filter: brightness(120%); }
  40% { transform: translateX(5px) scale(1); filter: brightness(120%); }
  60% { transform: translateX(-5px) scale(1); filter: brightness(120%); }
  80% { transform: translateX(5px) scale(1); filter: brightness(100%); }
  100% { transform: translateX(0) scale(1.1); filter: brightness(100%); }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto; /* Yatay ve dikeyde ortalamak için */
}

.services{
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1rem;
  color: #ffffff;
  font-weight: bold;
  list-style-type: none;

}

.contact{
  display: inline-flex;
}

.typewriter-container {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  color: #ffffff;
  font-weight: bold;
  animation: typing 2s steps(40, end)
}

.rotated-word:hover{
  transform: rotate(90deg);
  display: inline-block;
  transition:  1s ease;
}

.rotated-word{
  display: inline-block; /* Dönüşüm işlemi için önemli */
  transition: transform 1s ease; /* Dönüşüm geçiş efekti */
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #00BFFF; }
}